.container {
  width: 100%;
  height: 100%;

  .main {
    width: 100%;
    font-family: 'PingFangSC-Regular';
    font-weight: 400;
    background: rgba(240, 242, 245, 1);
    background: #fff;

    .list {
      height: 100%;
      background: #fff;
      margin-top: 16px;
    }
  }
}