.container {
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Regular';
  font-weight: 400;

  .top {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 210px 0 25px;
    background: #fff;
    box-sizing: border-box;
    z-index: 10;

    &-content {
      width: 100%;
      height: 68px;
      line-height: 68px;
      border-radius: 34px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid #DCDFE6;
      font-size: 28px;
      overflow: hidden;

      .search {
        float: left;
        width: 68px;
        padding: 12px 0;
        box-sizing: border-box;
        height: 100%;
        background: #fff;
        text-align: center;
        
        image {
          width: 42px;
          height: 42px;
        }
      }

      .input {
        float: left;
        width: 370px;
        height: 70px;
      }

      .cancel {
        float: right;
        width: 76px;
        text-align: left;
        letter-spacing: 2px;
      }
    }


  }

  .history,
  .hotTopic,
  .rtsTopic,
  .rtsPost {
    font-size: 36px;
    font-family: 'PingFangSC-Medium';
    font-weight: 500;
    color: rgba(74, 74, 74, 1);
  }

  .history,
  .rtsTopic,
  .hotTopic {
    width: 100%;
    margin-top: 40px;
    padding: 0 32px;
    box-sizing: border-box;

    &-list {
      width: 100%;
      margin-top: 16px;
      text-align: center;
      color: #9B9B9B;
      font-size: 30px;
    }
  }

  .more {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: left;
    color: #9B9B9B;
    font-size: 30px;
    &-item {
      width: 100%;
      padding: 20px 0px;
      box-sizing: border-box;
      line-height: 88px;
      border-bottom: 4px solid #F5F7FA;
      font-size: 28px;
      font-family: 'PingFangSC-Regular';
      font-weight: 400;
      color: rgba(74, 74, 74, 1);

      .cover {
        float: left;
        width: 150px;
        height: 110px;
        margin-right: 20px;
        border-radius:8px;
        overflow: hidden;
        text-align: center;
        font-size: 48px;
        color: rgba(255, 202, 58, 1);

        image {
          width: 100%;
          height: 100%;
        }
      }

      .middle {
        float: left;
        width: 370px;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-family: 'PingFangSC-Regular';
        line-height: 40px;

        &-title {
          line-height: 46px;
          font-size: 28px;
          color: rgba(77, 77, 77, 1);
        }

        &-count {
          font-size: 22px;
          color: rgba(155, 155, 155, 1);
        }
      }

      .focus {
        float: right;
        width: 118px;
        height: 50px;
        margin-top: 25px;
        image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .rtsTopic {
    &-title {
      padding-right: 8px;
      padding-bottom:12px;
      box-sizing: border-box;
      border-bottom: 4px solid #F5F7FA;
    }

    &-more {
      float: right;
      padding: 0px 20px;
      height: 56px;
      line-height: 56px;
      font-size: 28px;
      color: rgba(74, 74, 74, 1);
    }

    &-list {
      margin-top: 20px;
    }

    &-item {
      float: left;
      width: 224px;
      text-align: left;
      font-size: 28px;
      font-family: 'ArialMT';
      color: rgba(74, 74, 74, 1);

      &:nth-of-type(2) {
        margin: 0 6px 0 8px;
      }
    }

    &-img {
      position: relative;
      z-index: -1;
      width: 224px;
      height: 180px;
      margin-bottom: 12px;

      image {
        width: 100%;
        height: 100%;
      }
    }

    &-count {
      position: absolute;
      z-index: 0;
      bottom: 0;
      width: 100%;
      height: 46px;
      padding-left: 6px;
      box-sizing: border-box;
      line-height: 44px;
      font-size: 22px;
      color: rgba(255, 255, 255, 1);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.4) 100%);
    }
  }

  .rtsPost {
    width: 100%;
    margin-top: 40px;

    &-title {
      padding: 0 32px;
      box-sizing: border-box;

      text{
        display: block;
        padding-bottom: 12px;
        width: 100%;
        height: 100%;
        border-bottom: 4px solid #F5F7FA;
      }
    }
  }

  .history {
    &-item {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      line-height: 64px;
      border-bottom: 4px solid #F5F7FA;
      text-align: left;
      font-size: 28px;
      font-family: 'PingFangSC-Regular';
      font-weight: 400;
      color: rgba(74, 74, 74, 1);

      .time {
        position: relative;
        z-index: -1;
        width: 30px;
        height: 30px;
        vertical-align: middle;
      }

      .delete {
        width: 88px;
        height: 88px;
        vertical-align: middle;
      }
    }
  }

  .hotTopic {
    &-list{
      padding-bottom: 60px;
      box-sizing: border-box;
    }
    &-item {
      width: 100%;
      padding: 15px 0px 12px;
      box-sizing: border-box;
      line-height: 88px;
      border-bottom: 4px solid #F5F7FA;
      font-size: 28px;
      font-family: 'PingFangSC-Regular';
      font-weight: 400;
      color: rgba(74, 74, 74, 1);
      text-align: left;
      .order,.middle{
        position: relative;
        z-index: -1;
      }
      .order {
        float: left;
        width: 88px;
        height: 88px;
        margin-right: 20px;
        text-align: center;
        font-size: 48px;
        color: rgba(255, 202, 58, 1);

        image {
          width: 100%;
          height: 100%;
        }
      }

      .middle {
        
        float: left;
        width: 430px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-family: 'PingFangSC-Regular';
        line-height: 40px;

        &-title {
          line-height: 46px;
          font-size: 28px;
          color: rgba(77, 77, 77, 1);
        }

        &-count {
          font-size: 22px;
          color: rgba(155, 155, 155, 1);
        }
      }

      .focus {
        float: right;
        width: 118px;
        height: 50px;
        margin-top: 16px;
        image {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}